#langs {
    color: blue;
    grid-column: 12/13;
    justify-self: end;
    
    color: var(--text-color);
    border: none;
    font-weight: 400;
    font-size: 16px;
    background-color: transparent;
  }



@media (max-width: 1024px) {
    #langs {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    #langs {
        display: none;
    }
}


